@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .chatentity {
      height: calc(100vh - 125px) !important;
      max-height: calc(100vh - 125px) !important;
    }

    .chatentity-xl {
      height: calc(100vh - 135px) !important;
      max-height: calc(100vh - 135px) !important;
    }

    .chatentity-2xl {
      height: calc(100vh - 155px) !important;
      max-height: calc(100vh - 155px) !important;
    }

    .friendentity {
      height: calc(100vh - 165px) !important;
      max-height: calc(100vh - 165px) !important;
    }

    .friendentity-xl {
      height: calc(100vh - 175px) !important;
      max-height: calc(100vh - 175px) !important;
    }

    .friendentity-2xl {
      height: calc(100vh - 205px) !important;
      max-height: calc(100vh - 205px) !important;
    }

    .chatheight {
      height: calc(100vh - 115px) !important;
      max-height: calc(100vh - 115px) !important;
    }

    .chatheight-xl {
      height: calc(100vh - 135px) !important;
      max-height: calc(100vh - 135px) !important;
    }

    .chatheight-2xl {
      height: calc(100vh - 165px) !important;
      max-height: calc(100vh - 165px) !important;
    }
  }
}
